@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

body {
    background: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}

button {
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 5rem;
    height: 1.5rem;
    cursor: pointer;
}

input {
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50%;

    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.272);
}